.ticker {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.ticker-item {
  display: inline-block;
  padding: 0 20px;
  @apply text-center m-0.5 text-sm
  /* animation: ticker-scroll 1s linear infinite; */;
}
.positive {
  @apply bg-green-800 text-white;
}
.negative {
  @apply bg-red-600 text-white;
}
.neutral {
  @apply bg-blue-700 text-white;
}

@keyframes ticker-scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
